.header {
  display: flex;
  /* border: 2px solid red;*/
  text-align: center;
  justify-content: space-between;
}

.icon_div img {
  width: 150px;
  margin-left: 20px;
  margin-top: 15px;
  /* border: 1px solid green;*/
}
.menu_div ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  /*border: 1px solid green;*/
}
.menu_div ul li {
  list-style-type: none;
  padding: 20px;
  color: lightgrey;
  font-weight: bolder;
}
.menu_div ul li:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #8071d0;
  color: black;
  font-weight: bold;
}

body {
  margin: 0px;
  padding: 0px;
}
.acct_div {
  text-align: center;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  height: 20px;
  background-color: #ffd8db;
  color: #a389cc;
  margin-right: 20px;
  margin-top: 15px;
  vertical-align: center;
}
/* section 2 */
.sidebar {
  /*border: 2px solid green;*/
  text-align: center;
  margin-left: 70px;
}
.sidebar_div1 h1 {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.sidebar_div2 {
  /* border: 1px solid red;*/
  color: grey;
  margin-bottom: 25px;
}
.options .card-desc {
  width: 120px;
  text-align: left;
  font-weight: bold;
}
.sidebar_btn {
  /*border: 1px solid red;*/
  display: flex;
  margin-bottom: 25px;
}
.sidebar_btn img {
  margin-left: 10px;
}

.sidebar_btn div {
  background-color: #5243c0;
  color: #ffffff;
  border-radius: 20px;
  height: 20px;
  padding: 12px;
  border-radius: 15px;
}

.sidebar_div1 #icon .myiv {
  font-size: 15px;
  color: #5243c0;
  margin: 0px;
  padding: 0px;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #fafafc;
  margin-bottom: 6px;
  padding: 10px;
}
.options .card-date {
  color: grey;
}
.options:hover {
  background-color: white;
  box-shadow: 0px 0px 10px 5px gray;
  border-radius: 6px;
}
.options:hover .cardimg .hoverIcon {
  content: url("./assests/tick-blue.png");
}
.sidebar_div1 span {
  background-color: #8071d0;
}
.section2 {
  display: flex;
  justify-content: space-between;
}
#color1 {
  background-color: #ffd8db;
  width: 25px;
  height: 10px;
  border-radius: 50px;
}
#color2 {
  background-color: #fd6534;
  width: 25px;
  height: 10px;
  border-radius: 50px;
}
#color3 {
  background-color: #9ed095;
  width: 25px;
  height: 10px;
  border-radius: 50px;
}
#color4 {
  background-color: #ffe4a0;
  width: 25px;
  height: 10px;
  border-radius: 50px;
}
.landing_section img {
  text-align: right;
}
